[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-shell-ipython = "*"
pytest-env = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
passlib = "*"
psycopg2-binary = "*"
marshmallow = "*"
pyjwt = "*"
faker = "*"


[requires]
python_version = "3.7"
